<div class="content-header">
   <h2 class="content-title">
        <span class="main-title">
            <i class="fa fa-dashboard"></i> Dashboard
            <span class="pull-right" title="Hide/show advanced search" sidebar-toogle="#search_frm_div">
                <i class="fa fa-chevron-circle-left text-primary menu-toggle-btn"></i>
            </span>
        </span>
   </h2>
</div>
<div class="row">
    <div class="facilities-img col-xs-12 pad-0">
        <div class="bg-overlay col-xs-12 pad-0">
            <div class="col-md-10 col-md-offset-1 text-center margin-t-70">
                <h1 class="text-white fs-40 lato-light">
                    The Platform that connects Inventors to Investors,
                    <br>
                    looking to invest in the next <span class="text-green">big thing</span>.
                </h1>
                <div class="col-xs-12 margin-t-70">
                    <div class="col-md-5">
                        <div class="col-md-6 pad-t-20">
                            <span class="fa-stack fa-lg fs-50 text-white pad-l-3 col-md-12 pull-right">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-user fa-stack-1x fa-inverse text-niceblue"></i>
                            </span>
                        </div>
                        <div class="col-md-6 pad-t-20">
                            <div class="bubble fs-16">
                                I am an Inventor
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 pad-t-20">
                        <span class="col-xs-12 fs-18 text-white">
                            Connected
                        </span>
                        <span class="col-xs-12">
                            <i class="stretch fs-30 text-niceblue fa fa-arrows-h"></i>

                        </span>
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-6 pad-t-20">
                            <div class="bubble bubble--alt fs-18">
                                I am an Investor
                            </div>
                        </div>
                        <div class="col-md-6 pad-t-20">
                            <span class="fa-stack fa-lg fs-50 text-white pad-l-3 col-md-4">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-user-secret fa-stack-1x fa-inverse text-niceblue"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 margin-t-30">
                    <a ui-sref="login" class="btn btn-success btn-lg">
                        Sign In
                    </a>
                    <a ui-sref="users.create" class="btn btn-default btn-lg">
                        Sign Up
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 margin-b-50">
        <div class="col-md-12 margin-t-30">
            <h2 class="fs-35 fw-700 text-center">
                <span class="text-dark-green lato-light">
                    Get Access to Funds
                </span>
                <br>
                <span class="fs-30 lato-light fw-600">
                    Join us now and receive funds for that next big idea.
                </span>
            </h2>
        </div>
        <div class="col-xs-12">
            <div class="card-container col-xs-12 margin-t-10 pad-l-0 pad-r-0">
                <div class="col-xs-12 pad-l-0 pad-r-0">
                    <div class="col-md-4">
                        <span class="fa-stack fa-lg fs-30 text-niceblue pad-l-3 col-md-6 pull-left">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-users fa-stack-1x fa-inverse fs-26"></i>
                        </span>
                        <span class="col-md-10 pad-t-0">
                            <h4 class="lato-ligt fs-22 fw-600 lato-light margin-b-10">
                                Become a member
                            </h4>
                            <p class="lato-light fs-16 margin-t-5">
                            Sign up inorder to enjoy some of our worthwhile opportunities.
                            </p>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-lg fs-30 text-niceblue pad-l-3 col-md-6 pull-left">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="col-md-10 pad-t-0">
                            <h4 class="lato-ligt fs-22 fw-600 lato-light margin-b-10">
                                Share your Big Idea
                            </h4>
                            <p class="lato-light fs-16 margin-t-5">
                            Login and share your next big idea and showcase your company profile.
                            </p>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-lg fs-30 text-niceblue pad-l-3 col-md-6 pull-left">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-link fa-stack-1x fa-inverse fs-26"></i>
                        </span>
                        <span class="col-md-10 pad-t-0">
                            <h4 class="lato-ligt fs-22 fw-600 lato-light margin-b-10">
                                Link Up with Investors
                            </h4>
                            <p class="lato-light fs-16 margin-t-5">
                            Login and share your next big idea and showcase your company profile.
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 pad-0">
        <section class="parallax parallax-demo">
          <div class="col-xs-12 margin-t-50">
            <h1 class="text-white lato-light fs-30">Start your own company</h1>
          </div>
        </section>
    </div>
    <div class="col-xs-12 margin-t-30 margin-b-20">
        <div class="col-xs-12">
            <div class="col-md-7" style="border-right: 1px solid #e0e0e0;">
                <h4 class="lato-light text-dark-green fs-26">
                    Procedure
                </h4>
                <ul class="timeline">
                    <li>
                      <div class="timeline-badge"><i class="fa fa-search"></i></div>
                      <div class="bg-white timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Name Search</h4>
                          <p><small class="text-muted"><i class="fa fa-clock-o"></i> 1 day affair</small></p>
                        </div>
                        <div class="timeline-body">
                          <p>Write a letter to the registrar reserving your name. If the name is not in use it is accepted by the registrar and reserved for 30 days</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge warning"><i class="fa fa-file-text"></i></div>
                      <div class="bg-white timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Prepare Memorandum and Article of Association and Statement of Nominal Capital</h4>
                          <p><small class="text-muted"><i class="fa fa-clock-o"></i> 1 day affair</small></p>
                        </div>
                        <div class="timeline-body">
                          <p>The following documents objectives, rules, stakeholders and authorised share capital of a company. These are prepared by an advocate</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge info"><i class="fa fa-credit-card"></i></div>
                      <div class="bg-white timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Pay Stump Duty</h4>
                          <p><small class="text-muted"><i class="fa fa-clock-o"></i> 1 day affair</small></p>
                        </div>
                        <div class="timeline-body">
                          <p>The amount of money that you pay depends on your declared nominal capital, but the minimum is KES. 2,140 based on the minimum nominal capital of KES. 2,000</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge success"><i class="fa fa-edit"></i></div>
                      <div class="bg-white timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Situation of Office Form 201</h4>
                        </div>
                        <div class="timeline-body">
                          <p>Fill this form that notes the registered office address of the company, and to be signed by one director or the company secretary</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge warning"><i class="fa fa-edit"></i></div>
                      <div class="bg-white timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">
                            List of Directors Form 203
                        </h4>
                        </div>
                        <div class="timeline-body">
                          <p>Fill this form that lists the directors and secretary of the company. This is stamped by the company secretary</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge info"><i class="fa fa-edit"></i></div>
                      <div class="bg-white timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Declaration of Compliance Form 208</h4>
                        </div>
                        <div class="timeline-body">
                          <p> Get a commissioner of oath must sign this form on your behalf</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge default"><i class="fa fa-folder-open"></i></div>
                      <div class="bg-white timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">
                            File Documents at Registrars office
                        </h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 12 day affair</small></p>
                        </div>
                        <div class="timeline-body">
                          <p>You then need to file your documents at Companies Registry and pay the registration fee.You should receive a certificate of incorporation after a period of about 21 days</p>
                        </div>
                      </div>
                    </li>
                    <li class="timeline-inverted">
                      <div class="timeline-badge warning"><i class="fa fa-certificate"></i></div>
                      <div class="bg-white timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">Get your Company Seal</h4>
                        </div>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> 1 day affair</small></p>
                        <div class="timeline-body">
                          <p> This is a device that embosses your company name on documents and is used as a signature of the company.It can be purchased from a stationer.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
            </div>
            <div class="col-md-5">
                <div class="col-xs-12 margin-b-20">
                    <h4 class="lato-light text-dark-green fs-24">
                        Required Documents
                    </h4>
                </div>
                <div class="col-xs-12 pad-l-0 pad-r-0 pad-t-10 results-card">
                    <div class="col-md-2 text-center">
                        <span class="fa-stack fa-lg fs-28 text-niceblue pad-l-3 col-md-4">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-file-text fa-stack-1x fa-inverse fs-24"></i>
                        </span>
                    </div>
                    <div class="col-md-10 pad-l-0">
                        <h4 class="lato-ligt fs-18 fw-600 lato-light margin-b-10">
                            Memorandum of Association
                        </h4>
                        <p class="lato-light fs-15 margin-t-5">
                        This is document defines the relationship between the company and its stakeholders.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 pad-l-0 pad-r-0 pad-t-10 results-card">
                    <div class="col-md-2 text-center">
                        <span class="fa-stack fa-lg fs-28 text-niceblue pad-l-3 col-md-4">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-file-text fa-stack-1x fa-inverse fs-24"></i>
                        </span>
                    </div>
                    <div class="col-md-10 pad-l-0">
                        <h4 class="lato-ligt fs-18 fw-600 lato-light margin-b-10">
                            Article of Association
                        </h4>
                        <p class="lato-light fs-15 margin-t-5">
                        This document that contains the purpose of the company as well as the duties and responsibilities of its members defined and recorded clearly.
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 pad-l-0 pad-r-0 pad-t-10 results-card">
                    <div class="col-md-2 text-center">
                        <span class="fa-stack fa-lg fs-28 text-niceblue pad-l-3 col-md-4">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-file-text fa-stack-1x fa-inverse fs-24"></i>
                        </span>
                    </div>
                    <div class="col-md-10 pad-l-0">
                        <h4 class="lato-ligt fs-18 fw-600 lato-light margin-b-10">
                            Statement of Nominal Capital
                        </h4>
                        <p class="lato-light fs-15 margin-t-5">
                        This document  indicates the authorised share capital of a company.
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 margin-t-30 card-container ">
                    <h4 class="lato-light fs-22 fw-600 text-dark-green margin-b-10">
                        Patent Your Idea
                    </h4>
                    <p class="margin-t-10 lato-light fw-500 fs-15">
                        Before sharing your idea on our platform make sure you have patented it. This ensures that no one else can steal your idea. One can easily patent their ideas in a simple 5 step process:
                    </p>
                    <div class="col-xs-12 pad-l-20 margin-t-10">
                        <ul class="fa-ul margin-t-10 lato-light fs-13">
                          <li><i class="fa-li fa fa-arrow-circle-right text-niceblue"></i>Fill in the Request Form</li>
                          <li><i class="fa-li fa fa-arrow-circle-right text-niceblue"></i>A description of the invention with at least one mode of use in concise and exact terms</li>
                          <li><i class="fa-li fa fa-arrow-circle-right text-niceblue"></i>One or more claims defining the matter for which protection is sought</li>
                          <li><i class="fa-li fa fa-arrow-circle-right text-niceblue"></i>One or more drawings (where applicable)</li>
                          <li><i class="fa-li fa fa-arrow-circle-right text-niceblue"></i>An abstract summarizing the invention’s use. No more than 150 words.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="fw-700 col-xs-12 lato-light fs-30 text-center margin-b-10">
            Calendar of <span class="text-dark-green">Events</span>
        </div>
        <div class="col-xs-12">
            <div class="col-md-5 col-xs-12 pull-right">
                <div class="margin-b-2 col-xs-12 content-card pad-r-0" ng-repeat="event in events.events" style="margin-bottom: 2px !important;">
                    <span class="fa-stack fa-lg fs-24 text-niceblue pad-l-3 col-md-4 pull-left">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse fs-20"></i>
                    </span>
                    <span class="col-md-10 pad-r-0">
                        <p class="lato-light fs-16">
                        {{event.title}}
                        </p>
                        <div class="col-xs-12 margin-t-5 pad-l-0 pad-r-0">
                            <span class="lato-light label label-info fs-12" style="border-radius: 0px !important; border : 1px solid #5bc0de;">
                                {{event.start | date}}
                            </span>
                            <span ng-if="event.end" class="lato-light label label-danger fs-12 pull-right" style="border-radius: 0px !important; border : 1px solid #e62117;">
                                {{event.end | date}}
                            </span>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-md-7 col-xs-12 content-card pull-left">
                <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="myCalendar"></div>
            </div>
        </div>
    </div>
</div>
